@import url(https://bdsources.github.io/sourcecheck/code.css);
@import url('https://capnkitten.github.io/BetterDiscord/Spotify-Discord/css/source.css');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

:root {
  --online: #43b581;
  --idle: #faa61a;
  --dnd: #f04747;
  --offline: #636b75;
  --invisible: #747f8d;
  --streaming: #643da7;
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;

  --border-radius: 5px;
  --default-shadow: none;
}

::selection {
	background: rgb(35, 177, 78);
	color: rgb(255, 255, 255) !important;
  text-shadow: none;
}

.theme-dark,
.appMount-3VJmYg {
	--primary-color: rgba(255, 0, 0, 0.315);
	--secondary-color: rgba(0,0,0,0.6);
	--tertiary-color: rgba(0,0,0,0.4);
	--quaternary-color: rgba(0,0,0,0.7);
}

.container-3gCOGc,
#friends,
.activityFeed-28jde9,
.gameLibrary-TTDw4Y,
.applicationStore-1pNvnv {
	border-radius: 6px !important;
}

.base-3dtUhz {
    border-radius:0 0 0 5px !important;
}

.chat-3bRxxu .content-yTz4x3 {
	background-size: cover !important;
	background-repeat:no-repeat;
	background: inherit;
}

.theme-light .layer-3QrUeG:first-of-type::before {
    content: "Light mode is not supported on lusion";
    text-align: center;
    width: 500px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.13);
    border: 2px solid rgba(255, 0, 0, 0.582);
    box-shadow:0 0 12px rgb(134, 0, 0);
    color: #fff;
    padding: 20px;
    padding-bottom: 80px;
  }
  .theme-light button.button-14-BFJ.enabled-2cQ-u7.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="User Settings"] {
      position: absolute;
      left: 50%;
      border-radius: 3px;
      top: 45%;
      transform: translate(-50%, 120%);
      width: 480px;
      height: 40px;
      visibility: visible !important;
      background: rgba(255, 0, 0, 0.384) !important;
      box-shadow: 0 0 3px rgb(134, 0, 0);
      opacity: 1;
  }
  .theme-light button.button-14-BFJ.enabled-2cQ-u7.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="User Settings"]::before {
      content: "Enable Dark Mode";
      color: white;
      font-weight: bold;
  }
  .theme-light .side-8zPYf6 .item-PXvHYJ:nth-of-type(20) {
      border: 2px solid var(--hover-color);
      color: var(--hover-color);
      background: var(--main-color-faded);
      padding: 16px;
      text-align: center;
  }
  .theme-light .layer-3QrUeG {
    background:var(--backdropblurred) !important;
    background-size:cover !important;
  }
  .theme-light .layer-3QrUeG:first-of-type * {
    visibility: hidden;
  }
  
  .unreadPill-2HyYtt,
  .divider-3_HH5L.isUnread-3Ef-o9 .content-1o0f9g {
      background-color: var(--accent-color);
      color: #fff;
  }

  .theme-dark,
  .theme-light {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #1e1e1e;
    --background-secondary: #191919;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}

#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .scroller-2TZvBN {
  background-color: var(--background-floating);
}

.messagesPopoutWrap-1MQ1bW {
  background: var(--background-secondary) !important;
}

.messageGroupWrapper-o-Zw7G {
  border-bottom: none !important;
}

.side-8zPYf6 .separator-gCa7yv {
  background-color: rgba(114, 118, 125, 0.3);
  height: 2px;
  margin: 3px 9px;
}

.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-separator {
  background-color: rgba(114, 118, 125, 0.3);
  height: 2px;
  margin: 3px 9px;
}

  [user_by_bdfdb*="467506376373960704"],
  [aria-label*="467506376373960704,"] {
    --user-background: url('https://i.imgur.com/pqdICWJ.gif');
  }

  [user_by_bdfdb*="588716235529650210"],
  [aria-label*="588716235529650210,"] {
	  --user-background: url('https://i.imgur.com/XRPmOL9.gif');
  }

  .reduce-motion .userPopout-3XzG_A,
  .root-SR8cQa[src*="467506376373960704"] {
    transform:translateZ(0);
  }

  .userPopout-3XzG_A {
    position: relative !important;
    width: 260px !important;
    max-height: 95vh !important;
    z-index: 99999999 !important;
}

  .userPopout-3XzG_A .wrapper-3t9DeA::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: .5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--user-popout-position) center;
    background-image: var(--user-background);
    border-radius: 5px;
    filter: none;
  }

  #app-mount .colorMuted-HdFt4q.size12-3cLvbJ:first-child:after {
    content: none;
    display: block;
}

  .video-1kutKI {
    background-color: #191919;
  }

  .root-SR8cQa {
    background: url("https://cdn.discordapp.com/attachments/672462751557484595/695405135563849748/sala.gif");
  }

  .userPopout-3XzG_A  .header-2BwW8b,
  .userPopout-3XzG_A  .scroller-2FKFPG,
  .userPopout-3XzG_A  .footer-1fjuF6 {
    z-index: 1;
  }

  .avatar-1BDn8e[src*="467506376373960704"] + h2::after{
    content: '';
    color: transparent;
    height: 35px;
    width: 20px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    bottom: -29px;
    left: -20px;
    pointer-events: none;
    filter: drop-shadow(0 0 1px var(--secondary-color)) drop-shadow(0 0 1px var(--secondary-color))
  }

  .avatar-1BDn8e[src*="467506376373960704"]:hover + h2::after{
    color: white;
    padding: 3px 10px !important;
    height: auto;
    width: fit-content !important;
    box-sizing: border-box !important;
    white-space: nowrap !important;
    bottom: -40px !important;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: block !important;
    background-color: transparent;
    box-shadow: none !important;
    border-radius: 5px;
  }
  
  .avatar-1BDn8e[src*="467506376373960704"] + h2::after {
    background-image: url(https://i.imgur.com/1qBTZlh.png);
    transform: scale(1.0);
    bottom: -30px;
    left: -40px;
  }

  .avatar-1BDn8e[src*="467506376373960704"]:hover + h2::after {
    content: 'sweedy';
    color: #ffd856;
    --main-color: #ffe256;
    background-image: url(https://i.imgur.com/0tAtFyG.gif);
    text-shadow: -1px 0 black, 
      0 1px black, 
      1px 0 black, 
      0 -1px black !important;
    animation: popoutanim .2s;
    border-radius: 5px;
  }

  @keyframes popoutanim {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
